<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<Aoe_ApiLog>
			<active>true</active>
			<codePool>local</codePool>
			<version>0.0.1</version>
		</Aoe_ApiLog>
	</modules>

	<global>
		<models>
			<apilog>
				<class>Aoe_ApiLog_Model</class>
			</apilog>
		</models>
		<helpers>
			<apilog>
				<class>Aoe_ApiLog_Helper</class>
			</apilog>
		</helpers>
		<events>
			<controller_action_postdispatch_api>
				<observers>
					<apilog>
						<type>singleton</type>
						<class>apilog/observer</class>
						<method>controller_action_postdispatch_api</method>
					</apilog>
				</observers>
			</controller_action_postdispatch_api>
		</events>

        <aoe_logviewer>
			<logs>
				<api.log>
					<label>api.log</label>
					<file_path>###LOGDIR###/api.log</file_path>
					<model>aoe_logviewer/log_file</model>
					<sort_order>10</sort_order>
					<!--<disabled>1</disabled>-->
					<commands>
						<tail>
							<label>Last n lines (newest first, logins included)</label>
							<command_string>tail -n %2$s '%1$s' | tac</command_string>
							<model>aoe_logviewer/command_shell</model>
							<sort_order>10</sort_order>
							<!--<disabled>1</disabled>-->
						</tail>
                        <tail_login_exclude>
							<label>Last n lines (newest first, logins excluded)</label>
							<command_string>tail -n %2$s '%1$s' | grep -v ':loginResponse' | tac </command_string>
							<model>aoe_logviewer/command_shell</model>
							<sort_order>10</sort_order>
							<!--<disabled>1</disabled>-->
						</tail_login_exclude>
					</commands>
				</api.log>
			</logs>
		</aoe_logviewer>

	</global>

	<default>
		<dev>
			<aoe_apilog>
				<enablelogging>1</enablelogging>
				<logformat><![CDATA[
REQUEST URI: ###REQUESTURI###
CLIENT IP: ###CLIENTIP###
REQUEST:
====================
###REQUEST###

RESPONSE:
====================
###RESPONSE###
]]></logformat>
				<logfilename>api.log</logfilename>
			</aoe_apilog>
		</dev>
	</default>

</config>